:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;

  /* Primary */
  --color-background: #121212;
  --color-background-off: hsl(from var(--color-background) h s calc(l + 5));
  --color-highlight: #e50914;
  --color-text: #f5f5f5;

  /* Secondary */
  --color-background-secondary: #3a4b5b;
  --color-background-secondary-off: hsl(
    from var(--color-background-secondary) h s calc(l - 5)
  );
  --color-background-secondary-off-2: hsl(
    from var(--color-background-secondary) h s calc(l + 45)
  );

  /* Tertiary */
  --color-background-tertiary: hsl(
    from var(--color-background-secondary) h s calc(l - 15)
  );
  --color-background-tertiary-off: hsl(
    from var(--color-background-tertiary) h s calc(l - 5)
  );

  /* Neutral */
  --color-neutral: #1f2d3d;
  --color-black: #3a4b5b;
  --shadow-s: 1px 1px 6px -4px hsl(from var(--color-background-secondary) h s
        calc(l + 45));
  --shadow-l: 2px 2px 7px -6px var(--color-black);

  /* Fixed Colors */
  --color-success: #3ddc84;
  --color-attention: #ffc107;

  /* Dark text on bright surfaces */
  --color-dark: #1f2d3d;
  /* Light text on dark surfaces */
  --color-light: #f5f5f5;

  /* Widths, Heights, Spaceing, Borders */
  --navbar-height: 3rem;
  --border-round-s: 2px;
  --border-round-m: 4px;
  --border-round-l: 6px;

  /* Z-Indices */
  --z-modal: 2000;
  --z-navbar: 1000;

  /* DARK OVERWRITE*/
}

.flixmateApp {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }

  .icon-container {
    position: absolute;
    z-index: 50;
    right: 8rem;
    top: 1rem;

    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: none;
    background: none;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
    }
  }

  color: black;

  overflow-x: hidden;

  font-size: 16px;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 16px;
}

/* FIXME Customize text selection colors */
/* ::selection { */
/* background: #ffb7b7; Light red background */
/* color: #000000;      Black text */
/* } */

input {
  font-size: var(--font-size-m);
}

/* SCROLLBAR */
:root {
  --handle: var(--color-background-secondary-off);
  --handle-hover: hsl(
    from var(--color-background-secondary-off) h s calc(l + 15)
  );
}

/* width */
::-webkit-scrollbar {
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background-tertiary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--handle);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--handle-hover);
}
